<ng-container *ngIf="data$ | async as data">
  <div class="settings-page" *ngIf="currentUser">
    <div class="container page">
      <div class="row">
        <div class="col-md-6 offset-md-3 col-xs-12">
          <div class="text-xs-center">Settings</div>
          <mc-backend-error-messages
            *ngIf="data.backendErrors"
            [backendErrors]="data.backendErrors"
          >
          </mc-backend-error-messages>
          <form [formGroup]="form" (ngSubmit)="submit()">
            <fieldset>
              <fieldset class="form-group">
                <input
                  type="text"
                  class="form-control form-control-lg"
                  formControlName="image"
                  placeholder="URL of profile picture"
                />
              </fieldset>
              <fieldset class="form-group">
                <input
                  type="text"
                  class="form-control form-control-lg"
                  formControlName="username"
                  placeholder="Username"
                />
              </fieldset>
              <fieldset class="form-group">
                <textarea
                  class="form-control form-control-lg"
                  formControlName="bio"
                  placeholder="Short bio about you"
                ></textarea>
              </fieldset>
              <fieldset class="form-group">
                <input
                  type="text"
                  class="form-control form-control-lg"
                  formControlName="email"
                  placeholder="Email"
                />
              </fieldset>
              <fieldset class="form-group">
                <input
                  type="password"
                  class="form-control form-control-lg"
                  formControlName="password"
                  placeholder="New password"
                />
              </fieldset>
              <hr />
              <button class="btn btn-lg btn-outline-danger" (click)="logout()">
                Or click here to logout
              </button>
              <button
                type="submit"
                class="btn btn-lg btn-primary pull-xs-right"
                [disabled]="form.invalid || data.isSubmitting"
              >
                Update settings
              </button>
              <hr />
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-container>
